:root {
  --inside-background {
    background: rgb(149, 255, 231);
    background: radial-gradient(
      circle,
      rgba(149, 255, 231, 1) 0%,
      rgba(255, 43, 43, 1) 100%
    );
  }
}
html {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.6;
  margin: 10px;
}

header {
  text-align: center;
}

header h1 {
  font-size: 3rem;
}

header p {
}

main {
  display: flex;
  flex-wrap: wrap;
}

main h1 {
  font-size: 2rem;
}
